#
# Dist. test file
# Create a new config_test.py with your customization
#
DB_URI = 'mysql://travis:@localhost/goteo-test'

TESTING = True
DEBUG = False
SQLALCHEMY_ECHO = False
CACHING = False
CACHE_KEY_PREFIX = 'Test/'
AUTH_ENABLED = False

SECRET_KEY = 'not-a-very-secret-key'

REQUESTS_LIMIT = 300
REQUESTS_TIME = 60 * 15

REDIS_URL = "redis://localhost:6379/0"
CACHE = { 'CACHE_TYPE' : 'null' }

MODULES = {
    'goteoapi_reports.controllers',
    'goteoapi_digests.controllers'
}

CACHE_MIN_TIMEOUT = 2

USERS = {
    'goteo': {
            'password':'goteo',
            'remotes' : ['127.0.0.0/16', '192.168.0.0/24'],
            # 'cors': ['http://stats.goteo.org', 'https://stats.goteo.org']
            }
}
