#
# USE THIS FILE AS REFERENCE TO CONFIGURE THE GOTEO-API
# Create or rename this file to config.py
# Override vars for custom needs
# (check the full config specs in api/config.py)
#

# Mysql Goteo Database (mandatory)
# ================================
dbhost = 'devgoteo.org'
dbuser = 'goteo'
dbpass = 'goteo1234'
dbname = 'goteo'
DB_URI = 'mysql://' + dbuser + ':' + dbpass + '@' + dbhost + '/' + dbname

# Optional config:
# ================

# api requests rate limit
# Users are allowed 300 requests in 15 minutes
REQUESTS_LIMIT = 300
REQUESTS_TIME = 60 * 15

# redis (mandatory if requests_limit activated)
REDIS_URI = "redis://devgoteo.org:6379/0"

# Use Http Authentication
AUTH_ENABLED = True

# debug (False by default)
DEBUG = True

# Use cache type (null by default)
# View http://pythonhosted.org/Flask-Cache/#configuring-flask-cache
# for types and configuration options
CACHE = { 'CACHE_TYPE' : 'simple' }
# Minimun timeout for function caching
CACHE_MIN_TIMEOUT = 30

# Opcional description for general messages
DESCRIPTION = 'Goteo.org API'

# Usefull links for general messages
LINKS = {
	'Developers Documentation' : 'http://developers.goteo.org',
    'Swagger Interface' : '/api/spec.json',
    'Swagger Documentation' : '/api/index.html'
}

# Built-in Users Authentication
# Users can be bind to a ip or a ip range using a mask (eg: ip/mask)

USERS = {
	'goteo' : {'password':'goteo', 'remotes' : ['127.0.0.0/16', '192.168.0.0/24']}
}
