# database
dbhost = 'devgoteo.org'
dbuser = 'goteo'
dbpass = 'goteo1234'
dbname = 'goteo'

# api requests rate limit
# Users are allowed 300 requests in 15 minutes
requests_limit = 300
requests_time = 60 * 15
auth_enabled = True

# redis
REDIS_URI = "redis://devgoteo.org:6379/0"

#debug
debug = True

links = {
	'Developers Documentation' : 'http://developers.goteo.org',
	'Swagger Interface' : 'http://api.goteo.org/v1/api/'
}
