name: "[CI] Test"

on:
  push:
    branches:
      - main
      - live
  pull_request:

env:
  GOTEO_API_CONFIG_FILE: ./config_test.py.dist

jobs:
  test-report:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.6]
    services:
      mysql:
        image: mariadb
        ports:
          - 3306:3306
        env:
          MYSQL_DATABASE: goteo
          MYSQL_HOST: 127.0.0.1
          MYSQL_USER: goteo
          MYSQL_PASSWORD: goteo
          MYSQL_ROOT_PASSWORD: goteo
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

      redis:
        image: redis
        ports:
          - 6379

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install test database
        run: |
          mysql -h127.0.0.1 -P3306 -ugoteo goteo -pgoteo < goteoapi/tests/sql/goteo.sql

      - name: Install dependencies
        run: |
          sudo apt-get install mysql-devel
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r goteoapi_*/requirements.txt

      - name: Nosetests
        run: |
          echo "Using $(realpath $GOTEO_API_CONFIG_FILE) in $(pwd)"
          more $GOTEO_API_CONFIG_FILE
          nosetests --with-coverage --cover-erase --cover-package=goteoapi --cover-package=goteoapi_reports --cover-package=goteoapi_digests
